<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.ScheduleMapper">
    <insert id="saveSchedule">
        insert into schedule(title, completed)
        values (#{schedule.title}, #{schedule.completed})
    </insert>
    <update id="updateById">
        update schedule
        set title = #{schedule.title}, completed = #{schedule.completed}
        where id = #{schedule.id}
    </update>

    <delete id="deleteById">
        delete from schedule
        where id = #{id}
    </delete>


    <select id="queryAll" resultType="com.atguigu.pojo.Schedule">
        select *
        from schedule
    </select>
</mapper>